<div class="container text-center">
  <div class="login">
    <hr/>
      <%= form_tag login_path do %>
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" class="btn btn-inverse btn-sm">
      <%end%>
    <hr/>
  </div>
</div>