<div class="container">
  <div class="row"><br/>
    <table class="table">
      <thead class="panel table-header  ">
        <tr class="panel-title panel-heading">
          <th class="col-sm-8">Project Name</th>
          <th class="text-center">Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @invite_sets.each do |invite_set|%>
          <tr class="invite-set-row">
            <td>
              <%= link_to invite_set.title, admin_invite_set_path(invite_set.id) %>
            </td>
            <td class="text-center">
              <% if invite_set.delivered? %>
                <span class="btn btn-success btn-sm">delivered</span>
              <% else %>
                <span class="btn btn-inverse btn-sm">pending</span>
              <% end %>
            </td>
            <td class="text-center">
              <% if !invite_set.delivered? %>
                <%= link_to 'Deliver Invites', deliver_admin_invite_set_path(invite_set), :method => :post, class: "btn btn-warning btn-sm" %>
              <%end%>
              <%= link_to "Delete", admin_invite_set_path(invite_set.id), :method => :delete, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
