<h1>Invite Sets</h1>
<div class="invite-sets row">
  <% @invite_sets.each do |invite_set| %>
    <div class="invite-set-row" id="invite-set-<%= invite_set.id %>">
      <div class="col-sm-2">
        <%= link_to invite_set.title, admin_invite_set_path(invite_set.id) %>
      </div>
      <div class="col-sm-10 text-left">
        <% if invite_set.delivered? %>
          <span class="btn btn-primary">delivered</span>
        <% else %>
          <%= link_to 'deliver', deliver_admin_invite_set_path(invite_set), :method => :post, class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
