<h1>Hey <%=@user_from.name%>,</h1>

<p>You have a new FeedBack Request pending.</p>
<p>If you would please click the link below and follow the instructions to leave feedback for <%= @user_to.name %></p>
<p>Thanks for taking the time to help your classmates become the best programmers in the world!</p>

<h3><a href="http://lvh.me:3000/submission/<%=@token%>">Click Here to Leave FeedBack</a></h3>

<h4> ~ Turing Staff</h4>


<h6>Please do not respond to this email</h6>
