<div class="container">
  <h3>Add New Cohort</h3><br/>
  <div class="row well">
    <form>
      <textarea rows="10" cols="70" name="students_list" placeholder="Paste Student List Here"></textarea><br>
      <input type="text" name="cohort" placeholder="Cohort"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>